<%- layout("/layouts/boilerPlate.ejs") %>

<body>
  <img
    src="https://png.pngtree.com/png-clipart/20230406/original/pngtree-cute-puppy-cartoon-dog-sticker-png-image_9029377.png"
    height="200px"
    width="200px"
    style="margin-left: 37%"
  />
  <div class="row col-6 offset-3">
    <div class="alert alert-danger mt-3" role="alert">
      <p><%= message %></p>
    </div>
  </div>
</body>
